<a href="https://colab.research.google.com/github/ShauryaPrakashVerma/Python_for_AI/blob/main/Basic_Pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Print Function in Pyhton**

In [ ]:
print("shaurya prakash verma")

shaurya prakash verma

In [ ]:
print("5-10-2003")

5-10-2003

In [ ]:
print(True)

True

In [ ]:
print("hello",1,2,3,sep="...")

hello...1...2...3

In [ ]:
print("shaurya")
print("Prakash")

shaurya
Prakash

In [ ]:
print("shaurya", end="-") #by default end="\n"
print("verma")

shaurya-verma



---

#**Data Types in python**
1. Integer
2. Float / Decimal
3. Boolean
4. String
5. Complex
6. List
7. Tuple
8. Sets
9. Dictionary

In [ ]:
#Integer

print(3)
type(3)

3

int

In [ ]:
#Float

print(5.5)
type(5.5)

5.5

float

In [ ]:
#bool

print(True)
type(True)
print(False)
type(False)

True
False

bool

In [ ]:
#String

print("My name is shaurya")
type("My name is shaurya")

My name is shaurya

str

In [ ]:
#complex

print(5+7j)
type(5+7j)
type(6+7j)

(5+7j)

complex

In [ ]:
#list

print([1,2,3])
type([1,2,3])

[1, 2, 3]

list

In [ ]:
#tuple
print((1,2,3))
type((1,2,3))

(1, 2, 3)

tuple

In [ ]:
#set
print({1,2,3,2})
type({1,2,3})

{1, 2, 3}

set

In [ ]:
#dictionary
print({"name":"Shaurya", "age":20, "gender":"male"})
type({"name":"Shaurya", "age":20, "gender":"male"})

{'name': 'Shaurya', 'age': 20, 'gender': 'male'}

dict



---

#**Variable**

In [ ]:
a=2
print(a)

2

In [ ]:
c=True
d="Shaurya"
print(c,d)
print(c)
print(d)

True Shaurya
True
Shaurya

In [ ]:
name ="Shaurya"
print("Welcome "+name)

Welcome Shaurya

In [ ]:
# Dynamically typed
a=7 #int

# Static typed
# int a =7
# The error in the selected cell is a SyntaxError.
# This is because Python is a dynamically typed language, meaning you don't need to explicitly declare the data type of a variable when you assign a value to it.

In [ ]:
# Dynamic Binding
a=7
print(a)
a="Shaurya"
print(a)

# Static Binding
# int a = 7
# str a = "Shaurya"
# This will throw error in python.

7
Shaurya

In [ ]:
a=1
b=2
c=3
print(a,b,c)
#--------------------------------
a,b,c = 1,2,3
print(a,b,c)

1 2 3
1 2 3

In [ ]:
a=b=c=6
print(a,b,c)

6 6 6



---

#**Keywords in Python**
*   Reserved words in pyhton that have a special meaning to the Interpreter.
*   Can't be used as varibles.
*   39 Keywords in python

---

# **Identifiers**
**Rules for identifiers in python**

- Keywords cannot be used as identifier names as they are reserved words in
Python programming language. If you try, it will throw SyntaxError.

- Python identifiers can contain letters in a small case (a-z), upper case (A-Z), digits (0-9), and underscore (_).

- Identifiers cannot begin with a digit. For example, 10test would be an invalid identifier.

- Python identifiers can’t contain only digits. For example, 888 would be an invalid identifier.

- Python identifier names can start with an underscore. So, the _test would be a valid identifier.

- There is no limit on the length of the identifier name. But, don’t try to keep a super long identifier, it will only hurt your credibility as a programmer.

- Python identifier names are case-sensitive. So, “abc” and “ABC” are two different identifiers. It’s best to use lowercase letters for identifiers for uniformity across your programs.



---

#**Input in python**
 - needed for dynamic applications ( which need inputs e.g. Youtube )
 - not needed in static applications ( don't need inputs e.g. Clock, Calendar )

In [ ]:
input()

1.2

'1.2'

In [ ]:
input("Name : ")

Name : Shaurya

'Shaurya'

In [ ]:

name = input("Name : ")
print(name)
type(name) # normally type is not printed when written like this. But gets printed here beacuse of Juyter notebook. In Jupyter Notebook, the last line of a code cell is automatically evaluated and its result is displayed, even without print().

Name : Shaurya
Shaurya

str

In [ ]:

# By default the input function converts all data into String

age = input("Age : ")
print(age)
print(type(age))

# use Type Conversion to Convert str back to Int
print(type(int(age)))

Age : 18
18
<class 'str'>
<class 'int'>



---

#**Simple Python Calculator**

1.   Accepts two inputs.
2.   Performs only addition.

In [ ]:
num1 = input("Enter the first number : ")
num2 = input("Enter the second number : ")
result = float(num1) + float(num2)
print("result : ", result)

Enter the first number : 2.4
Enter the second number : 2.4
result :  4.8



---

#**Type Conversion**
- There are two types:
  - Implicit type Conversion
  - Explicit type Conversion

In [ ]:

# Implicit Type Conversion

a = 5
b = 5.5
sum = a + b
print(a)
print(b)
print(sum)
print(type(a))
print(type(b))
print(type(sum)) # sum automatically converted to larger data type (here float)

5
5.5
10.5
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:

# Explicit Type Conversion

print( 4 + int("4"))
print( 4 + float("4"))
print( 4 + bool("4"))
print( 4 + complex("4"))

num = 34
print(float(num))


# Can't convert complex to any int or float data type

8
8.0
5
(8+0j)
34.0



---

#**Literals**

In [ ]:
a = 3 #here 3 is a literal

In [ ]:
a = 0b1010 #Binary Literal (0b)
b = 100 #Decimal Literal
c = 0o310 #Octal Literal (0o)
d = 0x12c #Hexadeimal Literal (0x)

print(a,b,c,d)

10 100 200 300

In [ ]:

# Float Literals

float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

print(float_1, float_2, float_3)

10.5 150.0 0.0015

In [ ]:
# Complex Literals

x = 3.14j
print(x, x.imag, x.real)

y = 3+5j
print(y, y.real, y.imag)

3.14j 3.14 0.0
(3+5j) 3.0 5.0

In [ ]:
string1 = 'My name is Shaurya.'
string2 = "My name is Shaurya."
char = 'c'
multiline_str1 = '''This is a multiline string with single quotes'''
multiline_str2 = """This is a multiline string with double quotes"""

print(string1)
print(string2)
print(char)
print(multiline_str1)
print(multiline_str2)

My name is Shaurya.
My name is Shaurya.
c
This is a multiline string with single quotes
This is a multiline string with double quotes

In [ ]:
unicode_str = u"\U0001F600\U0001F602"
raw_str = r"raw \n string" #Raw string prints the string at it is, ignores even the escape sequences e.g. "\n"

print(unicode_str)
print(raw_str)

😀😂
raw \n string

In [ ]:
# Boolean Literals

a = True + 4    #True = 1
b = False + 10    #False = 0

print(a)
print(b)

5
10

In [ ]:
# None Literal (useful in creating variales in advance)

a = None
print(a)

None



---

#**Operators in Python**
The types of operators in python are:
- Arithmetic Operators
  - Addition operator (+)
  - Subtraction Operator (-)
  - Multiplication Operator (*)
  - Division Operator (/)
  - Modulus Operator (//)
  - Exponentiation Operator (**)
- Relational Operators
  - Less Than (<)
  - Greater Than (>)
  - Equals (=)
  - Not Equals (!=)
  - Less Than or Equals to (<=)
  - Greater than or Equal to (>=)
- Logical Operators
  - Logical AND (and)
  - Logical OR (or)
  - Logical NOT (not)
  - Logical XOR (xor)
- Bitwise Operators
  - bitwise and (&)
  - bitwise or (|)
  - bitwise not (~)
  - bitwise xor (^)
  - right shift (>>)
  - left shift (<<)
- Assignment Operators
  - Equal (=)
  - Shorthand Plus (+=)
  - Shorthand Subtract (-=)
  - Shorthand Multiply (*=)
  - Shorthand Divide (/=)
- Membership Operators
  - 'in'
  - 'not in'
- Identity Operator
  - 'is'
  - 'is not'
- Ternary Operator (Conditional Expression)
  - *value_if_true*   **if**   *condition* **else** *value_if_false*

In [ ]:
# Arithmetic Operators

print(3+2) #Addition Operator
print(3-2) #Subtraction Operator
print(3*2) #Multiplication Operator
print(3/2) #Division Operator
print(3//2) #Modulus Operator
print(3**2) #Exponentiation Operator

5
1
6
1.5
1
9

In [ ]:
# Relational Operators

print(4<5) #Less Than
print (4>5) #Greater Than
print(4==5) #Equals
print(4!=5) #Not Equals
print (4<=5) #Less Than or Equals to
print (4>=5) #Greater than or Equal to

True
False
False
True
True
False

In [ ]:
# Logical Operators

In [ ]:
# Bitwise operators

print(2 & 3) # bitwise and (&)

print(2 | 3 )# bitwise or (|)

print(~2) # bitwise not (~)

print(2^3) # bitwise xor (^)

print(4>>2) # right shift (>>)

print(4<<2)# left shift (<<)

2
3
-3
1
1
16

In [ ]:
# Assignment Operator

a = 2 #Equal (=)
print(a)

a+=1 #Shorthand Plus (+=)
print(a)

a-=1 #Shorthand Subtract (-=)
print(a)

b = 4
b*=2#Shorthand Multiply (*=)
print(b)

c = 4
c/=2#Shorthand Divide (/=)
print(c)

2
3
2
8
2.0

In [ ]:
# Membership Operators

print('M' in 'Mumbai') #in (Can be used in place of for loops in certain situations. It reduces the time complexity.)
print('A' in 'Mumbai')
print('A' not in 'Mumbai')

#print(2 in 'Mumbai')  #This will give error because int can't be checked for presence in strings
print(2 in [1,2,3])

True
False
True
True

In [ ]:
# Identity Operator

#is
#is not

In [ ]:
# Ternary Operator (Conditional Expression)



---

#**If Else Conditional Statement**
If Condition:

  *Condition true*
   
else

 *Condition false*

In [ ]:
num1 = input("Enter a number between 1 to 9: ")
if (num1==5):
  print("Correct Guess!!")
else:
  print("Wrong Guess")

Enter a number between 1 to 9: 5
Wrong Guess

In [ ]:
'''
Correct email = shauryaverma22@gmail.com
Correct password = 12345
'''

email = input("Enter your email : ")
password = input("Enter your password : ")
if email=="shauryaverma22@gmail.com" and password=="12345":
  print("Login Successful")
else:
  print("Login failed")

Enter your email : shauryaverma22@gmail.com
Enter your password : 12345
Login Successful

In [ ]:
#If elif else
#Nested If else

email = input("Enter your email : ")
password = input("Enter your password : ")

if email=="shauryaverma22@gmail.com" and password=="12345":
  print("Login Successful")
elif email=="shauryaverma22@gmail.com" and password!="12345":
  print("Password Incorrect")
  password = input("Enter your password again : ")
  if password=="12345":
    print("Login Successful")
  else:
    print("Login Failed")
else:
  print("Login Failed")
#

Enter your email : shauryaverma22@gmail.com
Enter your password : 123
Password Incorrect
Enter your password again : 12345
Login Successful

In [ ]:
'''
Exercise 1:
Find the minimum number among three given numbers
'''

num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
num3 = input("Enter the third number: ")
if(num1<num2 and num1<num3):
  print("Minimum number is : ", num1)
elif num2<num3:
  print("Minimum number is : ", num2)
else:
  print("Minimum number is : ", num3)

Enter the first number: 2
Enter the second number: 5
Enter the third number: 1
Minimum number is :  1

In [ ]:
'''
Exercise 2:
ATM Machine Menu
'''

choice = input('''
Hi! How can I help you?

1. Withdrawal
2. Balance Enquiry
3. Fast Cash
4. Exit

''')
if choice == "1":
  print("Withdrawal")
elif choice == "2":
  print("Balance is Rs. XXXX")
elif choice == "3":
  print("Fast Cash")
elif choice == "4":
  print("Exit")

Hi! How can I help you?

1. Withdrawal
2. Balance Enquiry
3. Fast Cash
4. Exit

2
Balance is Rs. XXXX



---

#**Modules in Python**
 There are two types of modules in python:
 - Built-in Modules / Package (Already availaible in installation)
 - External Module / Package (Need to be explicitly installed)


 Examples:
 - math
 - keywords
 - random
 - datetime

In [ ]:
import math
a = math.sqrt(16)
b = math.factorial(5)
print(a)
print(b)

4.0
120

In [ ]:
import keyword as kw

print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import random

print(random.randint(1,100)) #will give random number everytime it is executed.

100

In [ ]:
import datetime as dt
print(dt.datetime.now())

2025-08-05 21:29:30.260169

In [ ]:
# help("modules")  -used to view all the modules installed in the current environment.



---

#**pip in pyhton**
 - It is a package manager.
 - It is used to install external modules.


##refer to *Pyhton for AI -13  Yt: DSwithBappy*

 - all Packages available i website pypi.org
 - see documentation on how to use it from the respective websites.


 if You want to use pip command in jupyter notebook use '!' before the command.



###*COMMANDS:*

 - pip install "nameOfModule"

 - pip uninstall "nameOfModule"

In [ ]:
!pip install fastapi

Requirement already satisfied: fastapi in /usr/local/lib/python3.11/dist-packages (0.116.1)
Requirement already satisfied: starlette<0.48.0,>=0.40.0 in /usr/local/lib/python3.11/dist-packages (from fastapi) (0.47.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in /usr/local/lib/python3.11/dist-packages (from fastapi) (2.11.7)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.11/dist-packages (from fastapi) (4.14.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.4.1)
Requirement already satisfied: anyio<5,>=3.6.2 in /usr/local/lib/python3.11/dist-packages (from starlette<0.48.0,>=0.40.0->fastapi) (4.9.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.6.2->starlette<0.48.0,>=0.40.0->fastapi) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.6.2->starlette<0.48.0,>=0.40.0->fastapi) (1.3.1)

In [ ]:
!pip uninstall fastapi



---

#**Loops in Pyhton**
 There are two types of loops:
 - Entry controlled loops (for, while)
 - Exit controlled loops

- while else loop also works

In [ ]:
# While loop

i = 1

while i<10:
  print("Shaurya")
  i+=1

Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya

In [ ]:
# For loop

for i in range(10):
  print("Shaurya")

Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya
Shaurya

In [ ]:
# program to print multiplication table
i = 1

number = input("Enter the number: ")

while( i < 11 ):
  print(number, "x", i, "=", int(number)*i)
  i+=1

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Guessing game

import random as rd
jackpot_number = rd.randint(1,100)
guess_number = int(input("Enter the number: "))

while jackpot_number != guess_number:
  if guess_number < jackpot_number:
    print("Wrong Guess. Guess higher")
    guess_number = int(input("Enter the number: "))
  else:
    print("Wrong Guess. Guess lower")
    guess_number = int(input("Enter the number: "))
else:
  print("Correct Guess")

Enter the number: 50
Wrong Guess. Guess lower
Enter the number: 25
Wrong Guess. Guess lower
Enter the number: 12
Wrong Guess. Guess higher
Enter the number: 27
Wrong Guess. Guess lower
Enter the number: 17
Wrong Guess. Guess higher
Enter the number: 20
Correct Guess

In [ ]:
# For loop

for i in "Shaurya Prakash Verma":
  print(i)

S
h
a
u
r
y
a

P
r
a
k
a
s
h

V
e
r
m
a

In [ ]:
for i in range(1,11,2):   # start_value (Inclusive), End_value (Exclusive), Step_value
  print(i)

1
3
5
7
9

In [ ]:
# Nested for loop

for i in range(1,5):
  for j in range(1,5):
    print(i,j)
  print(" ")

1 1
1 2
1 3
1 4

2 1
2 2
2 3
2 4

3 1
3 2
3 3
3 4

4 1
4 2
4 3
4 4

In [ ]:
row = int(input("Enter the number of rows: "))
for i in range(row+1):
  for j in range(i):
    print("*", end="")
  print()

Enter the number of rows: 4

*
**
***
****



---

#**Jump Statements**
- Break
- Continue
- Pass

In [ ]:
# Break

for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
# Continue

for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [ ]:
# Pass

for i in range(3):
    if i == 1:
        pass  # Placeholder for future logic
    print(i)

0
1
2

In [ ]:
# Find prime numbers in given range

lower = int(input("Enter the lower bound of the range: "))
upper = int(input("Enter the upper bound of the range: "))

for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
          print(num)

Enter the lower bound of the range: 7
Enter the upper bound of the range: 99
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97



---

#**Strings in Pyhton**
 Strings are sequence of unicode characters

 Properties1:
 - Immutable


 Topics:
 - Creating Strings
 - Accessing Strings
 - Slicing Strings
 - Adding chars to Strings
 - Editing Strings
 - Deleting Strings
 - Operation on Strings
 - String Functions

In [ ]:
# Creating Strings

s = "String Creation 1"
s = 'String Creation 2'
s = '''String Creation 3'''
s = """String Creation 4"""
s = str("String Creation 5")

In [ ]:
# Accessing Strings

a = "Welcome to python"
print(a[0]) #positive accessing (starts from 0)
print(a[-1]) #negative accessing (starts from -1)

W
n

In [ ]:
# String Slicing

a = "Welcome to python"
print(a[0:7])  # [ Start_index (inclusive) , End_index (Exclusive) , Step_value ]
print(a[0:])
print(a[::-1]) #reversing a string
print(a[6:0:-1]) #reversing a string
# print(a[-1:-10])
print(a[::2])

Welcome
Welcome to python
nohtyp ot emocleW
emocle
Wloet yhn

In [ ]:
# Adding char to Strings

a = "Welcome to python"

a[0] = 'a' #throws error because string is immutable.

TypeError: 'str' object does not support item assignment

In [ ]:
# Operations on Strings

#Arithmetic Operations
#Concatenation
print("Hi I am" + " Shaurya")

#Multiplication
print("Hi " * 5)

Hi I am Shaurya
Hi Hi Hi Hi Hi

In [ ]:
# Operation on Strings

#Relational Operations
print("Shaurya" == "Shaurya")
print("Shaurya" == "shaurya")
print("Shaurya" != "shaurya")
print("Shaurya" > "shaurya")
print("Shaurya" < "shaurya")
print("Shaurya" >= "shaurya")

True
False
True
False
True
False

In [ ]:
# Operations on Strings
# Logical Operations

print("Shaurya" and "Verma") #1True and 2True = 2True
print("Shaurya" or "Verma")  #1True or 2True = 1True
print(not "Hello")

Verma
Shaurya
False

In [ ]:
for i in "Shaurya":
  print(i)

S
h
a
u
r
y
a

In [ ]:
for i in "Shaurya":
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
# Operations on Strings
# Membership Operations

print('M' in 'Mumbai') #in (Can be used in place of for loops in certain situations. It reduces the time complexity.)
print('A' in 'Mumbai')
print('A' not in 'Mumbai')

True
False
True

In [ ]:

# Common iterable Methods
# 1. len
# 2. max
# 3. min
# 4. sorted

s = "Welcome to python"
print(len(s))
print(max(s))
print(min(s))
print(sorted(s)) #sorts according to ascending ASCII values #return type = List
print(sorted(s, reverse=True)) #sorts according to descending ASCII values #return type = List

17
y

[' ', ' ', 'W', 'c', 'e', 'e', 'h', 'l', 'm', 'n', 'o', 'o', 'o', 'p', 't', 't', 'y']
['y', 't', 't', 'p', 'o', 'o', 'o', 'n', 'm', 'l', 'h', 'e', 'e', 'c', 'W', ' ', ' ']

In [ ]:
# String Methods (only can be used with strings)
"""
1. capitalize()
2. title()
3. upper()
4. lower()
5. swapcase()
6. join()
7. split()
8. find()
9. replace()
10. strip()
"""

# these do not change the original. They first create a copy and then perform operations on it.

s = "welcome to pyThon"
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.find("a")) # index if found  # -1 if not found

s = "My name is Shaurya"
print(s.split()) # by default splits by " " (space), can be changed  . Return type is list of strings  # String---> List of Strings
print(s.split("a"))

s = " "
k = "-"
a = ['My','name', 'is', 'Shaurya']
print(s.join(a))  # list of Strings ----> String
print(k.join(a))

Welcome to python
Welcome To Python
WELCOME TO PYTHON
welcome to python
WELCOME TO PYtHON
-1
['My', 'name', 'is', 'Shaurya']
['My n', 'me is Sh', 'ury', '']
My name is Shaurya
My-name-is-Shaurya

In [ ]:
"""
11. count()
12. startswith()
13. endswith()
14. index()
"""

s = "welcome to pyThon"

print(s.count("n"))
print(s.index("w")) # works like find() but throws error if not found
print(s.startswith("w"))
print(s.endswith("t"))

1
0
True
False

In [ ]:
'''
15. format  #important
'''

name = "Shaurya"
gender = "Male"

s = "My name is {} and I am a {}".format(name, gender)
print(s)

s = "My name is {1} and I am a {0}".format(name, gender)
print(s)

My name is Shaurya and I am a Male
My name is Male and I am a Shaurya

In [ ]:
'''
16. isalnum()
17. isalpha()
18. isdigit()
19. islower()
20. isupper()
21. isspace()
22. isidentifier()
'''

s="Shaurya123@"
print(s.isalnum()) #Checks if String contains only number and alphabet. if it conatins anything else like special charcters it will give false.
print(s.isalpha()) #Checks presence of only alphabet. if anything else present it will give false
print(s.isdigit())
print(s.islower())
print(s.isupper())
print(s.isspace())
print(s.isidentifier()) #Checks is string can be used as an identifier

False
False
False
False
False
False
False

In [ ]:
'''
23. replace()
24. rstrip()
25. lstrip()
26. strip()
'''

s = "   My name is Shaurya Shaurya   "
print(s.replace("Shaurya", "Verma")) # replaces all instances of the given substring
print(s.rstrip()) #removes empty spaces on the right
print(s.lstrip()) #removes empty spaces on the left
print(s.strip())  #removes spaces on the left and the right

   My name is Verma Verma
   My name is Shaurya Shaurya
My name is Shaurya Shaurya
My name is Shaurya Shaurya



---

#**f-Strings in Python**
- same as format() , but shorter in length

In [ ]:
name = "Shaurya"
gender = "Male"
s = f"My name is {name}. I am a {gender}"
print(s)

My name is Shaurya. I am a Male



---

#**String Exercises**

In [ ]:
'''
1. Find the length of a given string without using the len() function
'''
length = 0
input_Str = str(input("Enter the String: "))
for i in input_Str:
  length+=1
print(length)

Enter the String: ShauryaPrakashVerma
19

In [ ]:
'''
2. Extract username from the given email.

   e.g.- If the email is abctext@gmail.com then the username is abctext
'''

email = input("Enter the email: ")
username = email[0: email.find("@")]
print(username)

Enter the email: shauryaverma22@gmail.com
shauryaverma22

In [ ]:
'''
3. Write a program to check whether the input string is palindrome or not.

   e.g. : 1. abba
          2. malayalam
          3. mom
'''

input_str = input("Enter the string: ")

reversed = input_str[::-1]

if(input_str == reversed):
  print("String is palindrome")
else:
  print("String is not pallindrome")

Enter the string: shaurya
String is not pallindrome

In [ ]:
'''
3. Write a program to check whether the input string is palindrome or not.

   e.g. : 1. abba
          2. malayalam
          3. mom
'''
# This solution comsumes less memory and is much more efficient.
word = input("Enter your word: ")

flag = True

for i in range(0,len(word)//2):
  if word[i] != word[len(word)-i-1]:
    flag = False
    break

if flag:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter your word: malayalam
Palindrome



---

#**Lists in Pyhton**
- declared using [ ] with comma seperated values
- mutable

In [3]:
l = [10, 'shaurya', 20.4, [10,20,30]]

id(l)

140526463701184