<a href="https://colab.research.google.com/github/ShauryaPrakashVerma/Python_for_AI/blob/main/Basic_Pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Print Function in Pyhton**

In [ ]:
print("shaurya prakash verma")

shaurya prakash verma

In [ ]:
print("5-10-2003")

5-10-2003

In [ ]:
print(True)

True

In [ ]:
print("hello",1,2,3,sep="...")

hello...1...2...3

In [ ]:
print("shaurya")
print("Prakash")

shaurya
Prakash

In [ ]:
print("shaurya", end="-") #by default end="\n"
print("verma")

shaurya-verma



---

#**Data Types in python**
1. Integer
2. Float / Decimal
3. Boolean
4. String
5. Complex
6. List
7. Tuple
8. Sets
9. Dictionary

In [ ]:
#Integer

print(3)
type(3)

3

int

In [ ]:
#Float

print(5.5)
type(5.5)

5.5

float

In [ ]:
#bool

print(True)
type(True)
print(False)
type(False)

True
False

bool

In [ ]:
#String

print("My name is shaurya")
type("My name is shaurya")

My name is shaurya

str

In [ ]:
#complex

print(5+7j)
type(5+7j)
type(6+7j)

(5+7j)

complex

In [1]:
#list

print([1,2,3])
type([1,2,3])

[1, 2, 3]

list

In [2]:
#tuple
print((1,2,3))
type((1,2,3))

(1, 2, 3)

tuple

In [3]:
#set
print({1,2,3,2})
type({1,2,3})

{1, 2, 3}

set

In [4]:
#dictionary
print({"name":"Shaurya", "age":20, "gender":"male"})
type({"name":"Shaurya", "age":20, "gender":"male"})

{'name': 'Shaurya', 'age': 20, 'gender': 'male'}

dict



---

#**Variable**

In [5]:
a=2
print(a)

2

In [11]:
c=True
d="Shaurya"
print(c,d)
print(c)
print(d)

True Shaurya
True
Shaurya

In [9]:
name ="Shaurya"
print("Welcome "+name)

Welcome Shaurya

In [13]:
# Dynamically typed
a=7 #int

# Static typed
# int a =7
# The error in the selected cell is a SyntaxError.
# This is because Python is a dynamically typed language, meaning you don't need to explicitly declare the data type of a variable when you assign a value to it.

In [15]:
# Dynamic Binding
a=7
print(a)
a="Shaurya"
print(a)

# Static Binding
# int a = 7
# str a = "Shaurya"
# This will throw error in python.

7
Shaurya

In [18]:
a=1
b=2
c=3
print(a,b,c)
#--------------------------------
a,b,c = 1,2,3
print(a,b,c)

1 2 3
1 2 3

In [19]:
a=b=c=6
print(a,b,c)

6 6 6



---

#**Keywords in Python**
*   Reserved words in pyhton that have a special meaning to the Interpreter.
*   Can't be used as varibles.
*   39 Keywords in python

---

# **Identifiers**
**Rules for identifiers in python**

- Keywords cannot be used as identifier names as they are reserved words in
Python programming language. If you try, it will throw SyntaxError.

- Python identifiers can contain letters in a small case (a-z), upper case (A-Z), digits (0-9), and underscore (_).

- Identifiers cannot begin with a digit. For example, 10test would be an invalid identifier.

- Python identifiers can‚Äôt contain only digits. For example, 888 would be an invalid identifier.

- Python identifier names can start with an underscore. So, the _test would be a valid identifier.

- There is no limit on the length of the identifier name. But, don‚Äôt try to keep a super long identifier, it will only hurt your credibility as a programmer.

- Python identifier names are case-sensitive. So, ‚Äúabc‚Äù and ‚ÄúABC‚Äù are two different identifiers. It‚Äôs best to use lowercase letters for identifiers for uniformity across your programs.



---

#**Input in python**
 - needed for dynamic applications ( which need inputs e.g. Youtube )
 - not needed in static applications ( don't need inputs e.g. Clock, Calendar )

In [21]:
input()

1.2

'1.2'

In [22]:
input("Name : ")

Name : Shaurya

'Shaurya'

In [25]:

name = input("Name : ")
print(name)
type(name) # normally type is not printed when written like this. But gets printed here beacuse of Juyter notebook. In Jupyter Notebook, the last line of a code cell is automatically evaluated and its result is displayed, even without print().

Name : Shaurya
Shaurya

str

In [29]:

# By default the input function converts all data into String

age = input("Age : ")
print(age)
print(type(age))

# use Type Conversion to Convert str back to Int
print(type(int(age)))

Age : 18
18
<class 'str'>
<class 'int'>



---

#**Simple Python Calculator**

1.   Accepts two inputs.
2.   Performs only addition.

In [33]:
num1 = input("Enter the first number : ")
num2 = input("Enter the second number : ")
result = float(num1) + float(num2)
print("result : ", result)

Enter the first number : 2.4
Enter the second number : 2.4
result :  4.8



---

#**Type Conversion**
- There are two types:
  - Implicit type Conversion
  - Explicit type Conversion

In [36]:

# Implicit Type Conversion

a = 5
b = 5.5
sum = a + b
print(a)
print(b)
print(sum)
print(type(a))
print(type(b))
print(type(sum)) # sum automatically converted to larger data type (here float)

5
5.5
10.5
<class 'int'>
<class 'float'>
<class 'float'>

In [38]:

# Explicit Type Conversion

print( 4 + int("4"))
print( 4 + float("4"))
print( 4 + bool("4"))
print( 4 + complex("4"))

num = 34
print(float(num))


# Can't convert complex to any int or float data type

8
8.0
5
(8+0j)
34.0



---

#**Literals**

In [40]:
a = 3 #here 3 is a literal

In [41]:
a = 0b1010 #Binary Literal (0b)
b = 100 #Decimal Literal
c = 0o310 #Octal Literal (0o)
d = 0x12c #Hexadeimal Literal (0x)

print(a,b,c,d)

10 100 200 300

In [42]:

# Float Literals

float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

print(float_1, float_2, float_3)

10.5 150.0 0.0015

In [44]:
# Complex Literals

x = 3.14j
print(x, x.imag, x.real)

y = 3+5j
print(y, y.real, y.imag)

3.14j 3.14 0.0
(3+5j) 3.0 5.0

In [46]:
string1 = 'My name is Shaurya.'
string2 = "My name is Shaurya."
char = 'c'
multiline_str1 = '''This is a multiline string with single quotes'''
multiline_str2 = """This is a multiline string with double quotes"""

print(string1)
print(string2)
print(char)
print(multiline_str1)
print(multiline_str2)

My name is Shaurya.
My name is Shaurya.
c
This is a multiline string with single quotes
This is a multiline string with double quotes

In [53]:
unicode_str = u"\U0001F600\U0001F602"
raw_str = r"raw \n string" #Raw string prints the string at it is, ignores even the escape sequences e.g. "\n"

print(unicode_str)
print(raw_str)

üòÄüòÇ
raw \n string

In [54]:
# Boolean Literals

a = True + 4    #True = 1
b = False + 10    #False = 0

print(a)
print(b)

5
10

In [56]:
# None Literal (useful in creating variales in advance)

a = None
print(a)

None



---

#**Operators in Python**
The types of operators in python are:
- Arithmetic Operators
  - Addition operator (+)
  - Subtraction Operator (-)
  - Multiplication Operator (*)
  - Division Operator (/)
  - Modulus Operator (//)
  - Exponentiation Operator (**)
- Relational Operators
  - Less Than (<)
  - Greater Than (>)
  - Equals (=)
  - Not Equals (!=)
  - Less Than or Equals to (<=)
  - Greater than or Equal to (>=)
- Logical Operators
  - Logical AND (and)
  - Logical OR (or)
  - Logical NOT (not)
  - Logical XOR (xor)
- Bitwise Operators
  - bitwise and (&)
  - bitwise or (|)
  - bitwise not (~)
  - bitwise xor (^)
  - right shift (>>)
  - left shift (<<)
- Assignment Operators
  - Equal (=)
  - Shorthand Plus (+=)
  - Shorthand Subtract (-=)
  - Shorthand Multiply (*=)
  - Shorthand Divide (/=)
- Membership Operators
  - 'in'
  - 'not in'
- Identity Operator
  - 'is'
  - 'is not'
- Ternary Operator (Conditional Expression)
  - *value_if_true*   **if**   *condition* **else** *value_if_false*

In [57]:
# Arithmetic Operators

print(3+2) #Addition Operator
print(3-2) #Subtraction Operator
print(3*2) #Multiplication Operator
print(3/2) #Division Operator
print(3//2) #Modulus Operator
print(3**2) #Exponentiation Operator

5
1
6
1.5
1
9

In [58]:
# Relational Operators

print(4<5) #Less Than
print (4>5) #Greater Than
print(4==5) #Equals
print(4!=5) #Not Equals
print (4<=5) #Less Than or Equals to
print (4>=5) #Greater than or Equal to

True
False
False
True
True
False

In [60]:
# Logical Operators

In [61]:
# Bitwise operators

print(2 & 3) # bitwise and (&)

print(2 | 3 )# bitwise or (|)

print(~2) # bitwise not (~)

print(2^3) # bitwise xor (^)

print(4>>2) # right shift (>>)

print(4<<2)# left shift (<<)

2
3
-3
1
1
16

In [63]:
# Assignment Operator

a = 2 #Equal (=)
print(a)

a+=1 #Shorthand Plus (+=)
print(a)

a-=1 #Shorthand Subtract (-=)
print(a)

b = 4
b*=2#Shorthand Multiply (*=)
print(b)

c = 4
c/=2#Shorthand Divide (/=)
print(c)

2
3
2
8
2.0

In [68]:
# Membership Operators

print('M' in 'Mumbai') #in (Can be used in place of for loops in certain situations. It reduces the time complexity.)
print('A' in 'Mumbai')
print('A' not in 'Mumbai')

#print(2 in 'Mumbai')  #This will give error because int can't be checked for presence in strings
print(2 in [1,2,3])

True
False
True
True

In [69]:
# Identity Operator

#is

In [ ]:
# Ternary Operator (Conditional Expression)