<a href="https://colab.research.google.com/github/ShauryaPrakashVerma/Python_for_AI/blob/main/Intermediate_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Functions in Python**
- Benefit of function is code reusability.
- created by using the keyword def.

Two types of functions:
1. Built-in
2. User Defined





Principles of Functions:
1. Abstraction
2. Decomposition

In [ ]:
'''
Creating function
'''

def greet():
  name = input("Enter your name: ")
  print(f"Hello {name}")

greet()



---

#**Docstring in Python**
- used to provide info about the function

In [ ]:
def odd_even(num):
  """
  This function is used to check if a given number is odd or even.
  Input - any valid integer
  Output - odd/even
  """
  if num%2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

odd_even(10)

10 is even

In [ ]:
print(odd_even.__doc__)      # function to print the docstring of the function

  This function is used to check if a given number is odd or even.
  Input - any valid integer
  Output - odd/even



---

#**Parameters v/s Arguments**
- parameters in function definition
- arguments in function call

In [ ]:
def odd_even(num):      #Parameters
  """
  This function is used to check if a given number is odd or even.
  Input - any valid integer
  Output - odd/even
  """
  if num%2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

odd_even(10)      #Arguments

10 is even

#**Types of Arguments**
- Default Arguments
- Positional Arguments
- Keyword Arguments

In [ ]:
'''
Default arguments
'''

def power(a,b):
  return a**b

print(power(2,3))
#It takes two inputs , but if we take less than 2 arguments it will throw error, so we use default arguments.

print("---------------------------------------------------------------------")

def power(a=2,b=2):
  return a**b

print(power(2))

#now if we take less than two arguments it will still work

8
---------------------------------------------------------------------
4

In [ ]:
'''
positional arguments
'''
#Values are copied to the parameters in the respective position of the arguments provided.
def power (a,b):
  return(a**b)

print(power(2,3))
print(power(3,2))

8
9

In [ ]:
'''
Keyword arguments
'''
#here postion doesn't matter , the values are assigned automatically
def power (a,b):
  return(a**b)

print(power(a=2,b=3))
print(power(b=3,a=2))

8
8



---

# **args and *  **kwargs in Python

- *args allows us to pass variable length of non-keyword arguments to a function.
- **kwargs allows us to pass variable length of keyword arguments to a function.

In [ ]:
def multiply(a,b,c):
  return a*b*c

multiply(2,3,4)

24

In [ ]:
def multiply(*args):
  print(args)

multiply(2,3,4)

(2, 3, 4)

In [ ]:
def multiply(*args):   #*args converts all the inputs provided into a tuple, so npw to multiple multiple inputs we have to deal with tuple.
  product = 1          # args is just a name can use other names also for e.g.- *shaurya
  for i in args:
    product = product * i
  print(product)
multiply(2,3,4)

24

In [ ]:
def multiply(**kwargs):    #keyword arguments mean that they contain a key-value pair, just like a python dictionary.
  print(kwargs)            # in place of kwargs we can use any name like in args

multiply(a=2, b=3, c=4)

{'a': 2, 'b': 3, 'c': 4}

In [ ]:
def multiply(**kwargs):
    for (key,value) in kwargs.items():
        print(f"{key} = {value}")
multiply(a=2, b=3, c=4)

a = 2
b = 3
c = 4



---

- If no return statement is used in function, by default it will return none



---

#**Variable Scopes**
- Global Variable --- It is accessible in all parts of the program.

- Local Variable --- scope is limited to that particular block

Local variable has more priority than global variable.

In [ ]:
def f(x):
  x = 1
  x += 1  #global variable can be accessed but can't be changed from inside a function , here this x is referring to the x initialized before it.
  print(x)
x=5
f(x)
print(x)

2
5

In [ ]:
def f(x):
  x += 1      #global variable can't be changed from inside a function, here this x is referring to the global variable.
  print(x)    #earlier the x was referring to the local variable bcz local variable is given more preference than the gobal variable.
x=5
f(x)
print(x)

6
5

In [ ]:
'''
Suppose i want to change the value in the global variable
'''

def f(y):
  global x
  x += 1
  print(x)

x = 5
f(x)
print(x)

6
6

In [ ]:
def f(x):
  global x
  x += 1
  print(x)

x = 5
f(x)
print(x)

'''
here x is a local variable according to fummction defintion
But at the same time we are declaring it global
When you define a function like def f(x): then x becomes a local variable within that function's scope.
It exists only while the function is executing and
is not accessible outside of it unless explicitly returned or manipulated in a way that affects a global variable.
'''

SyntaxError: name 'x' is parameter and global (ipython-input-1243796729.py, line 2)

#**Nested Function**

In [ ]:
def f():
  def g():
    print("Inside function g")
  print("Inside function f")

f()     # calling f function does not print the function g
g()     #throwing error because g function's scope is limited inside the function f

Inside function f

NameError: name 'g' is not defined

In [ ]:
def f():
  def g():    #nested function can be used to hide the functionality from others, as it is accessible only inside f()
    print("Inside function g")
  g()       #here g is printed bcz g is called within the scope
  print("Inside function f")

f()

Inside function g
Inside function f

#**Functions are 1st class citizens**
- It acts like data types.
- it can be passed as an argument, returned from a location, and assigned to variables.

In [1]:
#type and id

def square(num):
  return num**2

print(type(square))
print(id(square))

<class 'function'>
137122636514304

In [4]:
#reassign

x = square
print(id(x))
x(4)    #now x has also become a square

137122636514304

16

In [5]:
#deleting
del square
print(square)

NameError: name 'square' is not defined

In [9]:
#storing
def square(num):
  return num**2

l = [1,2,3,4,5,square]
l[-1](4)

16

In [10]:
s = {square}
print(s)      #function is immutable obect

{<function square at 0x7cb638e46de0>}

In [11]:
#returning a function from another function

def f():
  def g (a,b):
    return a+b
  return g
val = f()(2,3)
print(val)

5

In [12]:
#function as an argumment
def func_a():
  print("inside func_a")

def func_b(z):
  print("inside func_b")
  return z()

print(func_b(func_a))   # Printing none bcz function a is not returning anything.

inside func_b
inside func_a
None

#**Benefits of using a Function**
- Code Modularity
- Code Readability
- Code Reusability

#**Lambda Functions in Python**
- small, anonymous function.
- Lambda function can take any number of arguments, but can only have one expression.


e.g- lambda a,b: a+b

In [13]:
 a = lambda x:x**2
 a(4)

16

#**Difference b/w Lambda and normal function**
- no name
- lambda has no return value (infact, return a function)
- lambbda is written in 1 line
- not reusable



Then why are lambda function used?
- **They are used with HOF**.

In [14]:
#Check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

#**Higher Order Functions**
 - if a function takes another functions as argument or it returns another function, then also it is a Higher order function.

In [16]:
L = [1,2,3,4,5]

def square(x):
  return x**2

def transform(f, L):    #HOF
  output = []
  for i in L:
    output.append(f(i))
  print(output)

transform(square, L)

[1, 4, 9, 16, 25]

#**map, filter, reduce higher order functions**

##map

In [19]:
#square the items of a list
a = lambda x:x**2
l = [1,2,3,4,5]
list(map(a, L))

[1, 4, 9, 16, 25]

In [20]:
#Odd/Even labelling of list items
a = lambda x:'even' if x%2==0 else 'odd'
l = [1,2,3,4,5,6,7,8,9,10]
list(map(a,l))      #1st argument should be function. 2nd argument should be any iterable.

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [21]:
#fetch names from a list of Dictionary
l = [{'Name':'Nandini', 'Age':20},{'Name':'Manjeet','Age':20},{'Name':'Nikhil','Age':19}]
a = lambda x : x['Name']
list(map(a,l))

['Nandini', 'Manjeet', 'Nikhil']

##filter function

In [22]:
#numbers greater than 5
l = [12,13,4,5,6,17,18,19,20]
a = lambda x:x>5
list(filter(a,l))

[12, 13, 6, 17, 18, 19, 20]

In [23]:
#fetch fruits starting with 'a'
l = ['apple','banana','cherry','date']
a = lambda x:x[0]=='a'
list(filter(a,l))

['apple']

##reduce function
- can't directly use reduce function, we have to import functools

In [24]:
#sum of all items
import functools
l = [1,2,3,4,5]
functools.reduce(lambda x,y:x+y, l)

15

In [25]:
#find minimum number from list
functools.reduce(lambda x,y:x if x<y else y, [23,11,45,1,10])

1

#**Enumerate fumction in Python**
- it will assign index to each element
- returns a tuple

In [26]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for i in enumerate(l):
  print(i)

(0, 'SHaurya')
(1, 'Prakash')
(2, 'Verma')
(3, 'Shaurya Prakash Verma')

In [27]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for index,name in enumerate(l):
  print(index, name)

0 SHaurya
1 Prakash
2 Verma
3 Shaurya Prakash Verma

In [28]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for index,name in enumerate(l, start = 1):
  print(index, name)

1 SHaurya
2 Prakash
3 Verma
4 Shaurya Prakash Verma

In [29]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for index,name in enumerate(l, start = 1):
  if index%2!=0:
    print(index, name)

1 SHaurya
3 Verma



---

#**Function Exercise**

###Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [47]:
from itertools import count
def unique_list(l):
  for i in l:
    count = 0
    for j in l:
      if i == j:
        count += 1
        if count > 1:
          l.remove(j)
  print(l)

unique_list([1,2,3,3,3,3,4,5])

print("---------------------------------------------------------------------")

unique_elements = list(set([1,2,3,3,3,3,4,5]))
print(unique_elements)

print("---------------------------------------------------------------------")

def unique_list(l):
  x = []
  for i in l:
    if i not in x:
      x.append(i)
  print(x)

unique_list([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]
---------------------------------------------------------------------
[1, 2, 3, 4, 5]
---------------------------------------------------------------------
[1, 2, 3, 4, 5]