<a href="https://colab.research.google.com/github/ShauryaPrakashVerma/Python_for_AI/blob/main/Intermediate_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Functions in Python**
- Benefit of function is code reusability.
- created by using the keyword def.

Two types of functions:
1. Built-in
2. User Defined





Principles of Functions:
1. Abstraction
2. Decomposition

In [ ]:
'''
Creating function
'''

def greet():
  name = input("Enter your name: ")
  print(f"Hello {name}")

greet()



---

#**Docstring in Python**
- used to provide info about the function

In [ ]:
def odd_even(num):
  """
  This function is used to check if a given number is odd or even.
  Input - any valid integer
  Output - odd/even
  """
  if num%2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

odd_even(10)

10 is even

In [ ]:
print(odd_even.__doc__)      # function to print the docstring of the function

  This function is used to check if a given number is odd or even.
  Input - any valid integer
  Output - odd/even



---

#**Parameters v/s Arguments**
- parameters in function definition
- arguments in function call

In [ ]:
def odd_even(num):      #Parameters
  """
  This function is used to check if a given number is odd or even.
  Input - any valid integer
  Output - odd/even
  """
  if num%2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

odd_even(10)      #Arguments

10 is even

#**Types of Arguments**
- Default Arguments
- Positional Arguments
- Keyword Arguments

In [ ]:
'''
Default arguments
'''

def power(a,b):
  return a**b

print(power(2,3))
#It takes two inputs , but if we take less than 2 arguments it will throw error, so we use default arguments.

print("---------------------------------------------------------------------")

def power(a=2,b=2):
  return a**b

print(power(2))

#now if we take less than two arguments it will still work

8
---------------------------------------------------------------------
4

In [ ]:
'''
positional arguments
'''
#Values are copied to the parameters in the respective position of the arguments provided.
def power (a,b):
  return(a**b)

print(power(2,3))
print(power(3,2))

8
9

In [ ]:
'''
Keyword arguments
'''
#here postion doesn't matter , the values are assigned automatically
def power (a,b):
  return(a**b)

print(power(a=2,b=3))
print(power(b=3,a=2))

8
8



---

# **args and *  **kwargs in Python

- *args allows us to pass variable length of non-keyword arguments to a function.
- **kwargs allows us to pass variable length of keyword arguments to a function.

In [ ]:
def multiply(a,b,c):
  return a*b*c

multiply(2,3,4)

24

In [ ]:
def multiply(*args):
  print(args)

multiply(2,3,4)

(2, 3, 4)

In [ ]:
def multiply(*args):   #*args converts all the inputs provided into a tuple, so npw to multiple multiple inputs we have to deal with tuple.
  product = 1          # args is just a name can use other names also for e.g.- *shaurya
  for i in args:
    product = product * i
  print(product)
multiply(2,3,4)

24

In [ ]:
def multiply(**kwargs):    #keyword arguments mean that they contain a key-value pair, just like a python dictionary.
  print(kwargs)            # in place of kwargs we can use any name like in args

multiply(a=2, b=3, c=4)

{'a': 2, 'b': 3, 'c': 4}

In [ ]:
def multiply(**kwargs):
    for (key,value) in kwargs.items():
        print(f"{key} = {value}")
multiply(a=2, b=3, c=4)

a = 2
b = 3
c = 4



---

- If no return statement is used in function, by default it will return none



---

#**Variable Scopes**
- Global Variable --- It is accessible in all parts of the program.

- Local Variable --- scope is limited to that particular block

Local variable has more priority than global variable.

In [ ]:
def f(x):
  x = 1
  x += 1  #global variable can be accessed but can't be changed from inside a function , here this x is referring to the x initialized before it.
  print(x)
x=5
f(x)
print(x)

2
5

In [ ]:
def f(x):
  x += 1      #global variable can't be changed from inside a function, here this x is referring to the global variable.
  print(x)    #earlier the x was referring to the local variable bcz local variable is given more preference than the gobal variable.
x=5
f(x)
print(x)

6
5

In [ ]:
'''
Suppose i want to change the value in the global variable
'''

def f(y):
  global x
  x += 1
  print(x)

x = 5
f(x)
print(x)

6
6

In [ ]:
def f(x):
  global x
  x += 1
  print(x)

x = 5
f(x)
print(x)

'''
here x is a local variable according to fummction defintion
But at the same time we are declaring it global
When you define a function like def f(x): then x becomes a local variable within that function's scope.
It exists only while the function is executing and
is not accessible outside of it unless explicitly returned or manipulated in a way that affects a global variable.
'''

SyntaxError: name 'x' is parameter and global (ipython-input-1243796729.py, line 2)

#**Nested Function**

In [ ]:
def f():
  def g():
    print("Inside function g")
  print("Inside function f")

f()     # calling f function does not print the function g
g()     #throwing error because g function's scope is limited inside the function f

Inside function f

NameError: name 'g' is not defined

In [ ]:
def f():
  def g():    #nested function can be used to hide the functionality from others, as it is accessible only inside f()
    print("Inside function g")
  g()       #here g is printed bcz g is called within the scope
  print("Inside function f")

f()

Inside function g
Inside function f

#**Functions are 1st class citizens**
- It acts like data types.
- it can be passed as an argument, returned from a location, and assigned to variables.

In [ ]:
#type and id

def square(num):
  return num**2

print(type(square))
print(id(square))

<class 'function'>
137122636514304

In [ ]:
#reassign

x = square
print(id(x))
x(4)    #now x has also become a square

137122636514304

16

In [ ]:
#deleting
del square
print(square)

NameError: name 'square' is not defined

In [ ]:
#storing
def square(num):
  return num**2

l = [1,2,3,4,5,square]
l[-1](4)

16

In [ ]:
s = {square}
print(s)      #function is immutable obect

{<function square at 0x7cb638e46de0>}

In [ ]:
#returning a function from another function

def f():
  def g (a,b):
    return a+b
  return g
val = f()(2,3)
print(val)

5

In [ ]:
#function as an argumment
def func_a():
  print("inside func_a")

def func_b(z):
  print("inside func_b")
  return z()

print(func_b(func_a))   # Printing none bcz function a is not returning anything.

inside func_b
inside func_a
None

#**Benefits of using a Function**
- Code Modularity
- Code Readability
- Code Reusability

#**Lambda Functions in Python**
- small, anonymous function.
- Lambda function can take any number of arguments, but can only have one expression.


e.g- lambda a,b: a+b

In [ ]:
 a = lambda x:x**2
 a(4)

16

#**Difference b/w Lambda and normal function**
- no name
- lambda has no return value (infact, return a function)
- lambbda is written in 1 line
- not reusable



Then why are lambda function used?
- **They are used with HOF**.

In [ ]:
#Check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

#**Higher Order Functions**
 - if a function takes another functions as argument or it returns another function, then also it is a Higher order function.

In [ ]:
L = [1,2,3,4,5]

def square(x):
  return x**2

def transform(f, L):    #HOF
  output = []
  for i in L:
    output.append(f(i))
  print(output)

transform(square, L)

[1, 4, 9, 16, 25]

#**map, filter, reduce higher order functions**

##map

In [ ]:
#square the items of a list
a = lambda x:x**2
l = [1,2,3,4,5]
list(map(a, L))

[1, 4, 9, 16, 25]

In [ ]:
#Odd/Even labelling of list items
a = lambda x:'even' if x%2==0 else 'odd'
l = [1,2,3,4,5,6,7,8,9,10]
list(map(a,l))      #1st argument should be function. 2nd argument should be any iterable.

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
#fetch names from a list of Dictionary
l = [{'Name':'Nandini', 'Age':20},{'Name':'Manjeet','Age':20},{'Name':'Nikhil','Age':19}]
a = lambda x : x['Name']
list(map(a,l))

['Nandini', 'Manjeet', 'Nikhil']

##filter function

In [ ]:
#numbers greater than 5
l = [12,13,4,5,6,17,18,19,20]
a = lambda x:x>5
list(filter(a,l))

[12, 13, 6, 17, 18, 19, 20]

In [ ]:
#fetch fruits starting with 'a'
l = ['apple','banana','cherry','date']
a = lambda x:x[0]=='a'
list(filter(a,l))

['apple']

##reduce function
- can't directly use reduce function, we have to import functools

In [ ]:
#sum of all items
import functools
l = [1,2,3,4,5]
functools.reduce(lambda x,y:x+y, l)

15

In [ ]:
#find minimum number from list
functools.reduce(lambda x,y:x if x<y else y, [23,11,45,1,10])

1

#**Enumerate fumction in Python**
- it will assign index to each element
- returns a tuple

In [ ]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for i in enumerate(l):
  print(i)

(0, 'SHaurya')
(1, 'Prakash')
(2, 'Verma')
(3, 'Shaurya Prakash Verma')

In [ ]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for index,name in enumerate(l):
  print(index, name)

0 SHaurya
1 Prakash
2 Verma
3 Shaurya Prakash Verma

In [ ]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for index,name in enumerate(l, start = 1):
  print(index, name)

1 SHaurya
2 Prakash
3 Verma
4 Shaurya Prakash Verma

In [ ]:
l = ['SHaurya', 'Prakash', 'Verma', 'Shaurya Prakash Verma']
for index,name in enumerate(l, start = 1):
  if index%2!=0:
    print(index, name)

1 SHaurya
3 Verma



---

#**Function Exercise**

###Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [ ]:
from itertools import count
def unique_list(l):
  for i in l:
    count = 0
    for j in l:
      if i == j:
        count += 1
        if count > 1:
          l.remove(j)
  print(l)

unique_list([1,2,3,3,3,3,4,5])

print("---------------------------------------------------------------------")

unique_elements = list(set([1,2,3,3,3,3,4,5]))
print(unique_elements)

print("---------------------------------------------------------------------")

def unique_list(l):
  x = []
  for i in l:
    if i not in x:
      x.append(i)
  print(x)

unique_list([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]
---------------------------------------------------------------------
[1, 2, 3, 4, 5]
---------------------------------------------------------------------
[1, 2, 3, 4, 5]

##Write a Python function that accepts a hyphen-seperated sequence of words as parameters and return the words in a hyphen-seperated sequence after sorting them alphabetically.

Examples:

Input- green-red-yellow-white

Output- black-green-red-white-yellow

In [ ]:
def arrange(input_string):
  split_word = input_string.split("-")
  print(split_word)
  sorted_split_word = sorted(split_word)
  print(sorted_split_word)
  output_string = "-".join(sorted_split_word)
  print(output_string)


input_string = "green-red-yellow-black-white"
arrange(input_string)

['green', 'red', 'yellow', 'black', 'white']
['black', 'green', 'red', 'white', 'yellow']
black-green-red-white-yellow

##A Dictionary contains the following info about 5 employees
- First name
- Last name
- Age
- Grade (Skilled, Semi-skilled, Highly skilled)

  Write a program using map/filter/reduce to a list of employees (first name + last name) who are higly skilled.

In [ ]:
employees = [
    {
        'first_name': 'Nandini',
        'last_name': 'Shastri',
        'age': 20,
        'grade': 'skilled'
    },
    {
        'first_name': 'Shaurya',
        'last_name': 'Prakash',
        'age': 21,
        'grade': 'semi-skilled'
    },
    {
        'first_name': 'Verma',
        'last_name': 'Singh',
        'age': 21,
        'grade': 'highly skilled'
    }
]


filtered_employees = list(filter(lambda employee: employee['grade'] == 'highly skilled', employees))
print(filtered_employees)

filtered_names = list(map(lambda employee: employee['first_name'] + " " + employee['last_name'], filtered_employees))
print(filtered_names)

[{'first_name': 'Verma', 'last_name': 'Singh', 'age': 21, 'grade': 'highly skilled'}]
['Verma Singh']

#**Virtual Environments in Python**

In [ ]:
# creating environment in python anaconda
conda create -n project1 python=3.8 -y

In [ ]:
#To activate the virtual environment
conda activate project1

In [ ]:
#to check python version inside the virtual env
python --version OR python

In [ ]:
#To install speciic version of any library
pip install pandas==2.1.1

In [ ]:
#To check the number of environments in the system
conda env list

In [ ]:
#To delete the virtual env
anaconda installation location--->env---->you will see all env----->delete folder

In [ ]:
#To exit unwanted terminal
exit()

In [ ]:
#To clear terminal
cls

# **requirements.txt in Pyhton**
- list down all the libraries needed to be installed
- can be any other name e.g.- required.txt , should be txt file

In [ ]:
from typing_extensions import LiteralString
eg.

pandas==1.1.1
numpy
scikit-learn


#To install command
pip install -r requirements.txt

#**File Handling in Python**

Types of data used for I/O
 - Text - '12345' as a sequence of unicode chars
 - Binay - 12345 as a sequence of bytes of its binary equivalent

hence there are 2 file types to deal with
- Text files - All program files are text files
- Binary files - Images, music, video, exe files

How file I/O is done in most programming languages
- Opening a file
- Read/Write data
- Close the file

##Writing to a file
- replaces all previously present content.
- to solve this open file in append mode.

In [ ]:
#if the file is not present
f = open("sample_data/sample.txt", "w")    #specify the path, mode
f.write("Hello World")
f.close()

In [ ]:
#write multiline strings
f = open("sample_data/sample.txt", "w")
f.write("Hello Python\n")
f.write("How are you?\n")
f.close()

In [ ]:
#Write lines
L = ['hello\n', 'how are you?\n', 'I am fine']
f = open("sample_data/sample.txt", "w")
f.writelines(L)
f.close()

##Reading from a file

In [ ]:
f = open("sample_data/sample.txt", "r")
print(f.read())
f.close()

hello
how are you?
I am fine

In [ ]:
f = open('sample_data/sample.txt', 'r')
print(f.readline(),end = ' ')
print(f.readline(),end = ' ')
f.close()

hello
 how are you?

In [ ]:
#Read entire using readline
f = open('sample_data/sample.txt', 'r')
# while True:
#   line = f.readline()
#   if not line:
#     break
#   print(line)
# f.close()


while True:
  line = f.readline()
  if line == "":
    break
  else:
    print(line, end='')
f.close()

hello
how are you?
I am fine

In [ ]:
f = open("sample_data/sample.txt", "r")
print(f.readlines())
f.close()

['hello\n', 'how are you?\n', 'I am fine']

#**File Handling using Context Manager (with)**
Using Context Manager (with)
- It is a good idea to close a file after usage as it will free up the resources.
- If we don't close it , the garbage collector will close it.
- with keyword closes the file as soon as the usage is over.

In [ ]:
with open ("sample_data/sample.txt", "w") as f:
  f.write("Shaurya")

In [ ]:
with open ("sample_data/sample.txt", "w") as f:
  f.write("Sha")

In [ ]:
with open ("sample_data/sample.txt", "a") as f:
  f.write("Shaurya")

In [ ]:
with open ("sample_data/sample.txt", "r") as f:
  print(f.read())

ShaShaurya
sjcsn

In [ ]:
with open ("sample_data/sample.txt", "r") as f:
  print(f.read(4))      #reads only 4 characters
  print(f.read(5))      #reads next 5 characters

ShaS
haury

In [ ]:
# if the data to be read is larger in size than the buffer memory, then the data is read in chunks such that the size of each chunk is smaller than the buffer size.

big_l = ['hello world' for i in range(1000)]

with open('sample_data/big_data.txt', 'w') as f:
  f.writelines(big_l)             #to load such big data in memory , we will use concept of chunking

with open('sample_data/big_data.txt', 'r') as f:
  chunk_size = 100
  while len(f.read(chunk_size))>0:
    print(f.read(chunk_size), end = "")

ello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldheo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhelloorldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wodhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldllo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhel worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello rldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhlo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhellworldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worlello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldheo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhelloorldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wodhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldllo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhel worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello rldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhlo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhellworldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worlello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldheo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhelloorldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wodhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldllo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhel worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello rldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhlo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhellworldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worlello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldheo worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhelloorldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello wodhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world

In [ ]:
'''
seek() and tell() function
'''

with open("sample_data/sample.txt", "r") as f:
  print(f.read(5))
  print(f.tell())
  f.seek(0)
  print(f.read())

ShaSh
5
ShaShaurya
sjcsn

In [ ]:
with open("sample_data/sample.txt", "r") as f:
  print(f.read())
  f.seek(0)
  print(f.read(4))

ShaShaurya
sjcsn
ShaS

In [ ]:
with open("sample_data/sample.txt", "w+") as f:
  f.write('Hello')
  f.seek(0)
  f.write("Da")
  print(f.tell())
  f.seek(0)
  print(f.read())

2
Dallo

#Problems with working text mode
- can't work with binary files like images
- not good for other data types like int/float/list/tuples

In [ ]:
#working with binary file
with open ("angry bird.png",'rb') as f:
  f.read()

In [ ]:
# copying content of one file into another file. If the copy file doesn't exist, it creates a new one.
with open("angry bird.png", "rb") as f:
  with open("angry bird_copy.png", "wb") as f1:
    f1.write(f.read())

In [ ]:
#more complex data
d = {
    'name': "Shaurya",
    'age' : 21,
    'gender' : 'male'
}

with open ("sample_data/sample.txt", 'w') as f:
  f.write(str(d))           # will throw error if the dictionary is not converted into string.

#**Serialization and Deserialization**
This enables us to store other data types like dictionary, list etc. without converting them into string. They retain their original nature.

- **Serialization** - process of converting ***python data types to JSON*** format.
- **Deserialzation** - process of converting ***JSON to python data types***.


Full form of JSON is JavaScript Object Notation.

In [ ]:
#serialization using json module

#list

import json

l = [1,2,3,4,5,6,7,8]

with open("test.json", 'w') as f:
  json.dump(l, f)               # .dump function is used to write into json file. It takes two arguments. 1st-list 2nd-file object

In [ ]:
#dictionary
d = {
    'name': "Shaurya",
    'age' : 21,
    'gender' : 'male'
}

with open ("test.json", 'w') as f:
  json.dump(d, f, indent =2)    #on giving indent parameter it will store dictionary like given in this example above, otherwise it will store the whole dictionary in a line.

In [ ]:
#desrialization

import json

with open('test.json', 'r') as f:
  d = json.load(f)      #.load function is used to load data from json file into program
  print(d)
  print(type(d))

{'name': 'Shaurya', 'age': 21, 'gender': 'male'}
<class 'dict'>

#**Pickling in Python**
- Process whereby a Python object heirarchy is converted into a byte stream, and unpickling is the reverse operation, whereby a byte stream (from a binary file or byte-like object) is converted back into an object heirarchy

- useful in ML where we can save our model to use it later.

In [ ]:
def display_info():
  return "Hi! My name is Shaurya Prakash Verma"

d = display_info()

#pickle dump (pickling)
import pickle
with open("function.pkl", "wb") as f:
  pickle.dump(d, f)

In [ ]:
#pickle load (unpickling)
import pickle
with open("function.pkl", "rb") as f:
  d = pickle.load(f)
  print(d)

Hi! My name is Shaurya Prakash Verma

#**Exception handling in Python**
There are two stages where error may happen in a program-
- During Compilation-> Syntax Error
- During Execution-> Exceptions

##Exceptions
- If things go wromg during the execution of the program (runtime)

e.g.-
      1. Memory Overflow

      2. Divide by 0 -> Logical Error
      
      3. Database Error


- when error is displayed, code is also displayed.which can lead to  security issues due to exposed code.

In [ ]:
try:
  with open("test.txt", "r") as f:
    f.read()
except:
  print("Something went wrong.")

Something went wrong.

##Different types of Error Handling

In [ ]:
try:
  with open("sample_data/sample.txt", 'r') as f:
    f.read()
    a = 4
    b = 5
    print(a+m)
except:
  print("Something went wrong")     #sometimes it gives both f.read() and then something went wrong bcz probably code after f.read() has an error here [print(a+m)]

Something went wrong

In [ ]:
try:
  with open("sample.txt","r") as f:
    f.read()
    a = 4
    b = 5
    print(a + m)
except Exception as e:      #Handles all error automatically, if specific error is not known.
  print(e)
  print(e.with_traceback)   #To know the exact error type

[Errno 2] No such file or directory: 'sample.txt'
<built-in method with_traceback of FileNotFoundError object at 0x7f1e88ccd1c0>

In [ ]:
#else in exception handling

try:
  f = open("sample.txt", "r")
except FileNotFoundError as e:
  print(e)
else:
  print(f.read())
  f.close()

'''
In Python, the else block in a try...except...else statement is executed only if the code in the try block runs without raising an exception. It's a way to put code that should run when the try block is successful, separate from the try block itself.

In Java, the finally block is executed regardless of whether an exception was thrown or caught. It's typically used for cleanup operations, such as closing files or network connections, that should always happen.

So, the main difference is:

Python else: Executes only on successful execution of the try block.
Java finally: Executes always, regardless of exceptions.
Python also has a finally block, which behaves similarly to Java's finally block, executing in all cases (whether an exception occurred or not). You can see an example of Python's else block in the cell UuQH-8bMG2_5.
'''

[Errno 2] No such file or directory: 'sample.txt'

"\nIn Python, the else block in a try...except...else statement is executed only if the code in the try block runs without raising an exception. It's a way to put code that should run when the try block is successful, separate from the try block itself.\n\nIn Java, the finally block is executed regardless of whether an exception was thrown or caught. It's typically used for cleanup operations, such as closing files or network connections, that should always happen.\n\nSo, the main difference is:\n\nPython else: Executes only on successful execution of the try block.\nJava finally: Executes always, regardless of exceptions.\nPython also has a finally block, which behaves similarly to Java's finally block, executing in all cases (whether an exception occurred or not). You can see an example of Python's else block in the cell UuQH-8bMG2_5.\n"

In [ ]:
#finally in exception handling

try:
  f = open("sample.txt", "r")
except FileNotFoundError as e:
  print(e)
else:
  print(f.read())
finally:              #Always runs no matter whether an exception is caught or not
  print("Very important code.")
  f.close()

[Errno 2] No such file or directory: 'sample.txt'
Very important code.

In [ ]:
#raise in exception handling
#It is use to throw a exception manually.

def divide_numbers(a,b):
  if b == 0:
    raise Exception("Can't divide numbers with 0")
  else:
    return a / b

try:
  result = divide_numbers(4,0)
  print(result)
except Exception as e:
  print(e)

Can't divide numbers with 0

#**Logging in Python**

In [ ]:
import logging
import os     #to perform functions of OS via code

In [ ]:
LOG_DIR = "logs"
LOG_FILE_NAME = "application.log"    # .log file is used. it recommended

os.makedirs(LOG_DIR, exist_ok = True)   #exist_ok =TRUE ensures that if a directory already exits it will not throw any error  #.makedirs is use to make a directory

# log_path = LOG_DIR + "/" + LOG_FILE_NAME  OR

log_path = os.path.join(LOG_DIR, LOG_FILE_NAME)

# print(log_path)

logging.basicConfig(
    filename = log_path,
    format = '[%(asctime)s] %(name)s - %(levelname)s - %(message)s',
    level = logging.INFO
)

In [ ]:
logging.info("Hello World")

In [ ]:
try:
  with open("sample.txt","r") as f:
    f.read()
except Exception as e:      #Handles all error automatically, if specific error is not known.
  logging.info(e)

In [ ]:
import os

LOG_DIR = "logs"

if os.path.exists(LOG_DIR):
    print(f"The directory '{LOG_DIR}' exists.")
    print("Contents of the logs directory:")
    for item in os.listdir(LOG_DIR):
        print(item)
else:
    print(f"The directory '{LOG_DIR}' does not exist.")

The directory 'logs' exists.
Contents of the logs directory: